/*
  这里的布局采用的全flex布局，仿照bulma的level写的
*/ 

/*
* 水平布局
* level
* use: 
  .level
    .level-item(.level-left,.level-right)
*/
.level{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // 子元素
  & > .level-item{
    flex: 1 1 auto; 
    display: flex;
    justify-content: center;
    text-align: center;
    &.as-narrow{
      flex: 0 0 auto;
    }
  }
  & > .level-left,&>.level-right{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
  }
  .level-left{
    justify-content: flex-start;
  }
  .level-right{
    justify-content: flex-end;
  }
}


/*
* 垂直布局
* vertical
* use: 
  .vertical( .vertical-as-centered  .vertical-as-start  .vertical-as-end )
    .vertical-item
*/ 
.vertical{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  // 子元素
  &>.vertical-item{
    flex: 0 0 auto;
    &.as-auto{
      flex: 1 1 auto;
    }
  }
}
.vertical-as-centered{
  justify-content: center;
}
.vertical-as-start{
  justify-content: flex-start;
}
.vertical-as-end{
  justify-content: flex-end;
}
