@import "../../assets/scss/variables";
.#{$prefix} {
  &-TModal-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vh;
    height: 100vh;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    visibility: hidden;
    transition: visibility 200ms ease-in;
    z-index: 1000;
    &.active {
      visibility: visible;
    }
    .bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: $black;
      opacity: 0.8;
      z-index: -1;
    }
    .modal-item {
      position: relative;
      flex: 0 0 auto;
      width: auto;
      max-width: 90vw;
      max-height: 90vh;
      padding-top: 16rpx;
      padding-bottom: 16rpx;
      background-color: white;
      border-radius: 20rpx;
      &.modal-item--has-close{
        padding-top: 24pt;
      }
      .modal-header,
      .modal-content,
      .modal-footer { }
      .modal-header {
        font-size: 14pt;
        text-align: center;
      }
      .modal-content {
        max-height: 80vh;
        width: auto;
        // padding-left: 1em;
        // padding-right: 1em;
        // padding-top: 1em;
        // padding-bottom: 1em;
        image {
          max-width: 100%;
          max-height: 100%;
        }
      }
      .modal-footer {
      }
      .close {
        position: absolute;
        top: 15rpx;
        right: 15rpx;
        width: 14pt;
        height: 14pt;
      }
    }
  }
}
